services:

  app:
    restart: always
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    working_dir: /var/www
    volumes:
      - ./src:/var/www
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_started

  nginx:
    restart: always
    image: nginx:1.27-alpine
    ports:
      - "8001:80"
    volumes:
      - ./src:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  mysql:
    restart: always
    image: mysql:8.0
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: laraker_db
      MYSQL_ROOT_PASSWORD: rootp@pwroot1
      MYSQL_USER: user1
      MYSQL_PASSWORD: user1pw123456
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-u", "root", "-prootp@pwroot1" ]
      interval: 5s
      timeout: 3s
      retries: 10
    volumes:
      - mysql_data:/var/lib/mysql

  redis:
    restart: always
    image: redis:7.4-alpine
    ports:
      - "6379:6379"
    command: [ "redis-server", "--appendonly", "yes" ]
    volumes:
      - redis_data:/data

  nodejs:
    build:
      context: ./src
      dockerfile: ../docker/nodejs/Dockerfile
    volumes:
      - ./src:/var/www
    command: ["sh", "-c", "npm install --include=dev --legacy-peer-deps --no-audit --no-fund && npm run build && rm -rf node_modules"]

volumes:
  mysql_data:
  redis_data:
